* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
}

.logo-company {
  height: 100px;;
  display: flex;
  align-items: center;
  background-image: url(./images/header-bg.jpg);
  padding-left: 40px;
}

.logo-company img {
  width: 300px;
  height: 45px;
}

.navigation {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 75px;
  border-bottom: 0.1px #eac7c7 solid;
}

.navigation a {
  font-family: 'Pavanam';
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin-right: 75px;
}

/* .navigation a:hover {
  background-color: #7F76E0;
} */

.navigation .this {
height: 30px;
display: flex;
align-items: center;
background-color: blue;
color: white;
}


.header {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/banner.jpg);
  font-family: 'Hind';
  letter-spacing: -1px;
  text-transform: uppercase;
  color: white;
}

.header h1 {
font-size: 64px;
}

.header h2 {
  font-size: 32px;
}





footer {

}


.top-footer {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  background-image: url(./images/top-footer-bg.jpg);
  padding-top: 50px;
}

.top-footer h5, p, a {
  font-family: 'Hind';
  color: white;
}

.top-footer h5 {
  font-size: 18px;
  font-weight: bold;
}

.top-footer p, a {
  font-size: 18px;
}


.top-footer-content {


}

.bottom-footer {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30349C;
}

.bottom-footer p {
  font-family: 'Pavanam';
  font-size: 18px;
}
